.removeBtn {
    position: relative;
    display: table-cell;
    height: 200px; 
    width: 200px;
    text-align: center; 
}


table, td, th {
    border: 0px solid black;
}

table {
    border-collapse: collapse;
    width: 25%;
    position: absolute;
     
    right: 120px;  
}

th {
    text-align: right;
    height: 80px;
    vertical-align: bottom;
    
}


.button {
    display: inline-block;
    padding: 10px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(19, 16, 219);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #2810ad}
  
  .button:active {
    background-color: #2810ad;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

 